body{
    overflow: hidden;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.navigationBar {
    left: 0;
    right: 0;
    width: 100%;
    position: relative;
    height: 64px;
    background-color: red;
}

.navigationBarTitle {
    width: 70%;
    position: inherit;
    top: 17px;
    left: 15%;
    right: 15%;
    height: 30px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.navigationBarLeftIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 15px;
}

.leftIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5px;
}


.leftIconTitle {
    position: relative;
    width: 100%;
    height: 24px;
    left: 35px;
    max-width: 280px;
    top: 0px;
    font-size: 24px;
    color: white;
    text-align: center;
}

.pageBody {
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;
    position: inherit;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto;
}

.navigationMenuBar {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 15px;
}

.menuTitleLeft {
    position: relative;
    font-size: 24px;
    color: white;
    text-align: center;
    left: 0;
    width: 40%;
    font-size: 24px;
    max-width: 280px;
    bottom: 0;
    height: 100%;
}

.menuTitleRight {
    left: 40%;
    width: 60%;
    right: 0;
    opacity:0;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    height: 100%;
}

.menuBodyLeft {
    left: 0;
    width: 40%;
    font-size: 24px;
    max-width: 280px;
    bottom: 0;
    height: 100%;
    background-color: gray;
}

.menuBodyRight {
    left: 40%;
    width: 60%;
    right: 0;
    opacity:0.5;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    height: 100%;
    /*background: gray;*/
}

.transparentColor {
    opacity:0;
    position: absolute;
}

.menuBox {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 20px;
    margin: auto;
    padding: 10px 1px 10px 0px;
    text-align: center;
    position: inherit;
    font-size: 18px;
    border-top:    1px solid  white;
    border-bottom: 1px solid white;
    color: white;
}

.center-profile{
    margin: 0 auto;
    right: 0px;
    left: 0px;
    top: 30px;
    position: relative;
    bottom: 30px;
    width: 80%;
}

.user {
    float: left;
    margin: 30px;
    padding: 15px;
    width: 40%;
    min-width: 280px;
    max-width: 300px;
    height:  180px;
    font-size: 18px;
}

.user-column-1-of-3 {
    margin: 0 auto;
    min-width: 160px;
    right: 0px;
    left: 0px;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.user-column-2-of-3 {
    margin: 0 auto;
    min-width: 100px;
    right: 0px;
    left: 0px;
    width: 70%;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.user-column-3-of-3 {
    margin: 0 auto;
    min-width: 100px;
    padding: 20px;
    right: 0px;
    left: 0px;
    width: 80%;
    text-align: center;
}

.userImage
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profileImage
{
    background-position: center center;
    background-image: url('../images/vignesh.jpg');
}

.experience, .skills {
    float: left;
    margin: 30px 10px 5px 30px;
    padding: 15px;
    width: 40%;
    min-width: 280px;
    max-width: 300px;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
}

.user-name,.experience-title,.skills-title {
    font-size: 18px;
    color: red;
}

.current-company {
    background-color: lightblue;
}

.user-position,.experience-company,.skills-list {
    font-size: 17px;
    color: gray;
}

.user-experience{
    font-size: 17px;
    color: gray;
}

.user-contact-email {
    font-size: 17px;
    color: gray;
}

.user-name {
    font-size: 24px;
    color: red;
}

.social:hover  {
    -webkit-animation: rotate 1s;
    animation: rotate 1s;
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
